.card {
  // display: flex;
  // flex-direction: column;
  text-align: center;
  align-items: center;
  background: #fff;
  width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-bottom: 25px;
  // shadow
  // box-shadow: #ddd 0px 2px 10px 1px;
  border: 1px dashed #ccc;
  &__thumb {
    //flex-basis: 33%;
    img {
      // width: 100%;
      max-width: 300px
    }
  }
  &__content {
    // flex-basis: 67%;
  }
  &__links {
    display: flex;
    justify-content: center;
    a {
      padding: 8px;
      line-height: 1.4em;
      display: flex;
      align-items: center;
      &:first-child {
        padding-left: 0;
      }
      // &[href^="https://github.com"] {
      //   color: #000;
      // }
      .icon {
        margin-right: 5px;
        width: 1em;
        height: 1em;
      }
    }
  }
}